.App {
  max-width: 600px;
  margin: 30px auto;
  background-color: rgb(169, 121, 214);
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  color: rgb(70, 12, 70);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

